@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; //включает плавный скролинг для сайта, когда переходишь по ссылкам на странице к какимто секциям
}

body {
    background: url('../img/fon.jpg');
    position: relative;
    .hide_display {
        display: none;
    }
}

@import 'blocks/menu';
@import 'blocks/play';
@import 'blocks/captains';
@import 'blocks/map';
@import 'blocks/word';
@import 'blocks/end';