.captains {
    display: block;
    padding-top: 100px;
    width: 830px;
    height: 580px;
    border-radius: 12px;
    background-color: rgba($color: #b7e7f1, $alpha: 0.5);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    .btn2 {
        margin-top: 20px;
        width: 200px;
        height: 60px;
    }
    &__descr {
        text-align: center;
        margin-top: 20px;

    }
    &__logo {
        height: 200px;
    }
    &__wrap {
        width: fit-content;
        margin: 0 auto;
    }
}